body {
    font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    color: black
}

table {
	width: 100%;
}

table,th,td {
	border: solid 1px black;
}

/*---------Навигационная панель-----------*/

.navMenu{
    padding:0 30px;
}
.navMenuItem {
    padding: 0 5px;
    text-align: right;
}
/*----------------------------------------*/
/*-----------Главная страница-------------*/
.TitleSite {
    padding: 20px 0;
    text-align: center;
}

.Potreblenie {
    font-size:16px;
    font-weight:700;
}

.divZavod{
    margin: 5px 0;
    text-align: center;
    columns: 500px 2;
}

.btnZavod {
    border: solid 1px black;
    margin: 20px 0;
    transition:300ms;
}

.btnZavod:hover {
    border: dotted 1px black;
}
/*----------------------------------------*/